* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Gill Sans MT;
    font-size: 14px;
    width: 100%;
}

.v3_21 {
    width: 100%;
    height: 92px;
    background: gray;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 123px;
    left: 0px;
    overflow: hidden;
}

.v3_5 {
    width: 100%;
    height: 92px;
    background: linear-gradient(rgba(211, 209, 209, 1), rgba(180, 178, 178, 0));
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v6_3 {
    width: 260px;
    height: 75px;
    background: url("../images/v6_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 338px;
    overflow: hidden;
}

.v3_22 {
    width: 77px;
    height: 75px;
    background: url("../images/v3_22.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v6_2 {
    width: 187px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 24px;
    left: 73px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v6_4 {
    width: 259px;
    height: 76px;
    background: url("../images/v6_4.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 10px;
    left: 800px;
    overflow: hidden;
}

.v6_8 {
    width: 74px;
    height: 76px;
    background: url("../images/v6_8.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v6_6 {
    width: 187px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 24px;
    left: 73px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.name {
    color: #fff;
}

.v6_31 {
    width: 100%;
    height: 127px;
    background: url("../images/v6_31.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 0px;
    overflow: hidden;
}

.v3_3 {
    width: 100%;
    height: 127px;
    background: rgba(21, 135, 241, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
}

.v3_16 {
    width: 527px;
    height: 57px;
    background: url("../images/v3_16.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 32px;
    left: 261px;
    overflow: hidden;
}

.v3_8 {
    width: 527px;
    height: 57px;
    background: rgba(22, 62, 202, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v3_20 {
    width: 44px;
    height: 44px;
    background: url("../images/v3_20.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 19px;
    overflow: hidden;
}

.v3_17 {
    width: 420px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 9px;
    left: 65px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v3_7 {
    width: 79px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 40px;
    left: 840px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v3_13 {
    width: 204px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 1040px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v3_14 {
    width: 75px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 940px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v3_11 {
    width: 167px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 32px;
    left: 50px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
}

.v24_2 {
    width: 100%;
    height: 1000px;
    background: rgba(239, 239, 239, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v24_74 {
    width: 242px;
    height: 97px;
    background: url("../images/v24_74.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 523px;
    left: 579px;
    overflow: hidden;
}

.v24_72 {
    width: 242px;
    height: 97px;
    background: rgba(22, 62, 202, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
}

.v24_73 {
    width: 69px;
    height: 66px;
    background: url("../images/v24_73.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 86px;
    overflow: hidden;
}

.v24_3 {
    width: 100%;
    height: 93px;
    background: url("../images/v24_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 123px;
    left: 0px;
    overflow: hidden;
}

.v24_4 {
    width: 100%;
    height: 93px;
    background: linear-gradient(rgba(211, 209, 209, 1), rgba(180, 178, 178, 0));
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v24_5 {
    width: 272px;
    height: 75px;
    background: url("../images/v24_5.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 5px;
    left: 338px;
    overflow: hidden;
}

.v24_6 {
    width: 77px;
    height: 75px;
    background: url("../images/v24_6.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v24_7 {
    width: 187px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 22px;
    left: 85px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v24_8 {
    width: 271px;
    height: 76px;
    background: url("../images/v24_8.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 837px;
    overflow: hidden;
}

.v24_9 {
    width: 74px;
    height: 76px;
    background: url("../images/v24_9.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v24_10 {
    width: 187px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 22px;
    left: 84px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.name {
    color: #fff;
}

.v24_12 {
    width: 100%;
    height: 127px;
    background: url("../images/v24_12.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 4px;
    left: 0px;
    overflow: hidden;
}

.v24_13 {
    width: 100%;
    height: 127px;
    background: rgba(21, 135, 241, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
}

.v24_14 {
    width: 512px;
    height: 57px;
    background: url("../images/v24_14.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 32px;
    left: 254px;
    overflow: hidden;
}

.v24_15 {
    width: 512px;
    height: 57px;
    background: rgba(22, 62, 202, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.v24_16 {
    width: 42px;
    height: 44px;
    background: url("../images/v24_16.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 19px;
    overflow: hidden;
}

.v24_17 {
    width: 409px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 9px;
    left: 68px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v24_18 {
    width: 100px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 40px;
    left: 809px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v24_19 {
    width: 244px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 1156px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v24_20 {
    width: 94px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 39px;
    left: 984px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 36px;
    opacity: 1;
    text-align: left;
}

.v24_21 {
    width: 178px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 32px;
    left: 49px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 48px;
    opacity: 1;
    text-align: left;
}

.v24_71 {
    width: 100%;
    height: 55px;
    background: url("../images/v24_71.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 213px;
    left: 0px;
    overflow: hidden;
}

.v24_68 {
    width: 100%;
    height: 55px;
    background: rgba(22, 62, 202, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v24_69 {
    width: 363px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 5px;
    left: 550px;
    font-size: 30px;
    font-weight: Bold;
    opacity: 1;
    text-align: left;
}

.v24_76 {
    width: 1205px;
    height: 150px;
    background: url("../images/v24_76.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 300px;
    left: 80px;
    overflow: hidden;
}

.v24_70 {
    width: 1200px;
    height: 140px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border: 1px solid rgba(156, 131, 131, 1);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.v24_77 {
    width: 123px;
    height: 124px;
    background: url("../images/v24_77.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 8px;
    left: 20px;
    border: 1px solid rgba(156, 131, 131, 1);
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    border-bottom-left-radius: 75px;
    border-bottom-right-radius: 75px;
    overflow: hidden;
}

.v24_78 {
    width: 109px;
    color: rgba(18, 43, 130, 1);
    position: absolute;
    top: 22px;
    left: 185px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.name {
    color: #fff;
}

.v24_80 {
    width: 74px;
    color: rgba(157, 157, 157, 1);
    position: absolute;
    top: 8px;
    left: 639px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v24_81 {
    width: 68px;
    color: rgba(157, 157, 157, 1);
    position: absolute;
    top: 8px;
    left: 817px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v24_82 {
    width: 61px;
    color: rgba(157, 157, 157, 1);
    position: absolute;
    top: 8px;
    left: 1012px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v24_83 {
    width: 146px;
    color: rgba(9, 9, 9, 1);
    position: absolute;
    top: 41px;
    left: 605px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v24_84 {
    width: 119px;
    color: rgba(9, 9, 9, 1);
    position: absolute;
    top: 41px;
    left: 796px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v24_85 {
    width: 116px;
    color: rgba(9, 9, 9, 1);
    position: absolute;
    top: 41px;
    left: 987px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v24_86 {
    width: 359px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 73px;
    left: 173px;
    font-family: Gill Sans MT;
    font-weight: Regular;
    font-size: 32px;
    opacity: 1;
    text-align: left;
}

.v6_66 {
    width: 242px;
    height: 97px;
    border-radius: 25px;
    background: rgba(22, 62, 202, 1);
    opacity: 1;
    position: absolute;
    top: 479px;
    left: 550px;
}

.v6_67 {
    width: 69px;
    height: 66px;
    background: url("../images/v6_67.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 495px;
    left: 636px;
    overflow: hidden;
}