body {
    flex-grow: 0;
    padding: 0 0 73px;
    background-color: #fff9f1;
}
.contenedor-pacientes{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}
.Vector {
    width: 100%;
    height: 100%;
    border: solid 0 #000;
    position: relative;
    display:inline-block;
}
.Vector img {
    object-fit: cover;
    width: 100%;
}
.TecPsi {
    width: 228px;
    height: 102px;
    margin: 0 945px 0 0;
    font-family: Nunito;
    font-size: 55px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff9f1
    ;
    position: absolute;
    top: 10px;
    left: 10px;
}
.Iniciar-sesin {
    width: 207px;
    height: 37px;
    margin: 22px 0 43px 945px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #fff9f1;
    position: absolute;
    top: 10px;
    right: 10px;
}
.Bienvenido {
    width: 483px;
    height: 85px;
    font-family: Montserrat;
    font-size: 70px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.45px;
    text-align: center;
    color: #000;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Imagen {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}
.Imagen img {
    object-fit: cover;
    width: 100%;
}
.Vec {
    width: 100%;
    height: 100%;
    border: solid 0 #000;
    position: relative;
    display:inline-block;
}
.Vec img {
    object-fit: cover;
    width: 100%;
}
.TecPsi2 {
    width: 228px;
    height: 102px;
    margin: 0 945px 0 0;
    font-family: Nunito;
    font-size: 55px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff9f1
    ;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Rectangle-1 {
    width: 400px;
    height: 350px;
    margin: 47px 0 0;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 3px;
    border-image-source: linear-gradient(132deg, #fff 14%, #c2cbca 35%, #97a6a5 59%, #6d8280 88%);
    border-image-slice: 1;
    background-image: linear-gradient(132deg, rgba(255, 255, 255, 0.4) 9%, rgba(255, 255, 255, 0.1) 92%), linear-gradient(132deg, #fff 14%, #c2cbca 35%, #97a6a5 59%, #6d8280 88%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Usuario {
    width: 85px;
    height: 29px;
    flex-grow: 0;
    margin: 0 320px 9px 0;
    font-family: Roboto;
    font-size: 25px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #8a8a8a;
}
.Line-1 {
    width: 405px;
    height: 1px;
    flex-grow: 0;
    margin: 9px 0 0;
    background-color: #8a8a8a;
}
.c {
    flex-grow: 0;
    padding: 0 0 73px;
    background-color: #ffdcba;
}
.TecPsi3 {
    width: 228px;
    height: 102px;
    margin: 0 945px 0 0;
    font-family: Nunito;
    font-size: 45px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff9f1;
    position: absolute;
    top: 10px;
    left: 10px;
}
.Pacientes {
    width: 129px;
    height: 30px;
    margin: 22px 0 23px 90px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff9f1;
    position: absolute;
    top: 10px;
    right: 80px;
}
.Citas {
    width: 129px;
    height: 30px;
    margin: 22px 0 23px 90px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff9f1;
    position: absolute;
    top: 10px;
    right: 200px;
}
.Cerrar {
    width: 31px;
    height: 39.9px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.Agenda {
    width: 100%;
    height: 100%;
    border: solid 0 #000;
    position: relative;
    display:inline-block;
}
.Dia {
    width: 632px;
    height: 49px;
    margin: 41px 300px 41px 30px;
    font-family: Montserrat;
    font-size: 40px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
    position: relative;
    display: inline-block;
}
.Rectangle-2 {
    width: 446px;
    height: 206px;
    margin-left: 30px;
    margin-top: 30px;
    flex-grow: 0;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 3px;
    border-image-source: linear-gradient(114deg, #fff 12%, #fae3d5 34%, #f6caaf 63%, #f2b58f 87%);
    border-image-slice: 1;
    background-image: linear-gradient(115deg, rgba(255, 255, 255, 0.4) 9%, rgba(255, 255, 255, 0.1) 92%), linear-gradient(114deg, #fff 12%, #fae3d5 34%, #f6caaf 63%, #f2b58f 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
}
.Nombre {
    width: 379px;
    height: 33px;
    flex-grow: 0;
    margin: 0 15px 35px 0;
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    position: absolute;
    top: 20%;
    left: 49%;
    transform: translate(-50%, -50%);
}
.Fecha {
    width: 134px;
    height: 29px;
    flex-grow: 0;
    margin: 35px 107px 35px 123px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
}
.-am {
    width: 118px;
    height: 29px;
    flex-grow: 0;
    margin: 35px 115px 9px 131px;
    font-family: Roboto;
    font-size: 25px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    position: absolute;
    top: 60%;
    left: 19%;
    transform: translate(-50%, -50%);
}
.Rectangle {
    width: 200px;
    height: 40px;
    flex-grow: 0;
    margin: 40px 32px 41px 265px;
    padding: 10px 18px 10px 19px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #98b3b1 15%, #d3d9cb 76%);
    position: relative;
    display:inline-block;
}
.Agregar-cita {
    width: 163px;
    height: 30px;
    flex-grow: 0;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff9f1;
    position: absolute;
    top: 25%;
    left: 15%;
}
.Rectan {
    width: 150px;
    height: 50px;
    flex-grow: 0;
    margin-left: 30px;
    padding: 10px 18px 10px 19px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #98b3b1 15%, #d3d9cb 76%);
    position: relative;
    display:inline-block;
}
.Agregar-paciente {
    width: 163px;
    height: 30px;
    flex-grow: 0;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff9f1;
    position: absolute;
    top: 10%;
    left: 5%;
}
.Rectangle-3 {
    width: 250px;
    height: 250px;
    margin-left: 30px;
    margin-top: 30px;
    flex-grow: 0;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    box-shadow: 0 4px 24px -1px rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 3px;
    border-image-source: linear-gradient(114deg, #fff 12%, #fae3d5 34%, #f6caaf 63%, #f2b58f 87%);
    border-image-slice: 1;
    background-image: linear-gradient(115deg, rgba(255, 255, 255, 0.4) 9%, rgba(255, 255, 255, 0.1) 92%), linear-gradient(114deg, #fff 12%, #fae3d5 34%, #f6caaf 63%, #f2b58f 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
}
.Nombre-p {
    width: 379px;
    height: 33px;
    flex-grow: 0;
    margin: 0 15px 35px 0;
    font-family: Roboto;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.Ellipse-7 {
    width: 140px;
    height: 140px;
    flex-grow: 0;
    margin: 0 46px 27px;
    padding: 22px 19px;
    background-color: #98b3b1;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 32%;
    transform: translate(-50%, -50%);
}
.ini {
    width: 142px;
    height: 136px;
    flex-grow: 0;
    background-image: linear-gradient(122deg, #fff 26%, #ecefe9 57%, #d3d9cb 83%);
    font-family: Nunito;
    font-size: 100px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
}